<h1>Hello!</h1>
<p>This is a part of the tutorial about implementing SignalR on .NET Core application using Angular as front-end.</p>
<p>You may want to see:</p>
<ul>
  <li><a href='https://www.codingsmith.com'>Coding smith</a> for more tutorials</li>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
